body {
  background-color: lightgrey;
  font-family: Arial, Verdana, sans-serif;
}

.movieTitle {
  border: 1px solid black;
  padding: 10px;
}




/* Override browser default styles */

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
